In [1]:
import pandas as pd
import numpy as np
import flask
import pymongo
import json
from datetime import datetime

In [2]:
atlantic_data = pd.read_csv('Atlantic-data/Atlantic_State_Daily.csv')

In [3]:
atlantic_data.columns

Index(['date', 'state', 'positive', 'negative', 'pending',
       'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently',
       'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative',
       'recovered', 'dataQualityGrade', 'lastUpdateEt', 'dateModified',
       'checkTimeEt', 'death', 'hospitalized', 'dateChecked',
       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral',
       'positiveCasesViral', 'deathConfirmed', 'deathProbable', 'fips',
       'positiveIncrease', 'negativeIncrease', 'total', 'totalTestResults',
       'totalTestResultsIncrease', 'posNeg', 'deathIncrease',
       'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade'],
      dtype='object')

columns we want: date, state, positive, negative, hospitalizedCurrently, hospitalizedCumulative, dataQualityGrade, death, deathConfirmed, deathProbable, fips

In [4]:
atlantic_df = atlantic_data[['date', 'state', 'positive', 'negative', 'hospitalizedCurrently', 'hospitalizedCumulative', 'dataQualityGrade', 'death', 'deathConfirmed', 'deathProbable', 'fips']]

In [5]:
atlantic_df

,date,state,positive,negative,hospitalizedCurrently,hospitalizedCumulative,dataQualityGrade,death,deathConfirmed,deathProbable,fips
0,20200731,AK,3677.0,229429.0,40.0,NaN,A,23.0,23.0,NaN,2
1,20200731,AL,87723.0,601744.0,1596.0,10521.0,B,1580.0,1531.0,49.0,1
2,20200731,AR,42511.0,460958.0,507.0,2852.0,A,453.0,NaN,NaN,5
3,20200731,AS,0.0,1037.0,NaN,NaN,C,0.0,NaN,NaN,60
4,20200731,AZ,174010.0,759733.0,2302.0,11260.0,A+,3694.0,2431.0,152.0,4
...,...,...,...,...,...,...,...,...,...,...,...
8300,20200126,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8301,20200125,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8302,20200124,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8303,20200123,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8304,20200122,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53

In [6]:
from datetime import datetime

In [7]:
#atlantic_df['date'] = atlantic_df['date'].strftime('%m/%d/%Y')
#atlantic_df['date'] = datetime.strptime(atlantic_df['date'], '%Y%m%d').strftime('%m/%d/%Y')
atlantic_df['date'] = pd.to_datetime(atlantic_df['date'], format='%Y%m%d')

C:\Users\clemi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
atlantic_df

,date,state,positive,negative,hospitalizedCurrently,hospitalizedCumulative,dataQualityGrade,death,deathConfirmed,deathProbable,fips
0,2020-07-31,AK,3677.0,229429.0,40.0,NaN,A,23.0,23.0,NaN,2
1,2020-07-31,AL,87723.0,601744.0,1596.0,10521.0,B,1580.0,1531.0,49.0,1
2,2020-07-31,AR,42511.0,460958.0,507.0,2852.0,A,453.0,NaN,NaN,5
3,2020-07-31,AS,0.0,1037.0,NaN,NaN,C,0.0,NaN,NaN,60
4,2020-07-31,AZ,174010.0,759733.0,2302.0,11260.0,A+,3694.0,2431.0,152.0,4
...,...,...,...,...,...,...,...,...,...,...,...
8300,2020-01-26,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8301,2020-01-25,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8302,2020-01-24,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8303,2020-01-23,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8304,2020-01-22,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53

In [9]:
state_series = atlantic_df['state']
state_series = state_series.drop_duplicates()

In [10]:
atlantic_list = ['Alaska','Alabama','Arkansas','American Samoa','Arizona','California','Colorado','Connecticut','District of Columbia','Delaware','Florida','Georgia','Guam','Hawaii','Iowa','Idaho','Indiana','Illinois','Kansas','Kentucky','Louisiana','Massachusetts','Maryland','Maine','Michigan','Minnesota','Missouri','Northern Mariana Islands','Mississippi','Montana','North Carolina','North Dakota','Nebraska','New Hampshire','New Jersey','New Mexico','Nevada','New York','Ohio','Oklahoma','Oregon','Pennsylvania','Puerto Rico','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Virginia','Virgin Islands','Vermont','Washington','Wisconsin','West Virginia','Wyoming']
state_series
state_list = state_series.tolist()
state_coords_df=pd.DataFrame(state_list,columns=['State'])

In [11]:
lat=[]
long=[]

In [12]:
import requests
from config import geocode_key

In [13]:
for i in atlantic_list:
    target_url=(f"https://maps.googleapis.com/maps/api/geocode/json?address={i}&key={geocode_key}")
    geodata=requests.get(target_url).json()
    try:
        latitude=geodata['results'][0]['geometry']['location']['lat']
        lat.append(latitude)

        longitude=geodata['results'][0]['geometry']['location']['lng']
        long.append( longitude)
    except:
        lat.apped('NaN')
        long.append('NaN')

In [14]:
state_coords_df['Latitude']=pd.DataFrame(lat)
state_coords_df['Longitude']=pd.DataFrame(long)
state_coords_df['State Name']=pd.DataFrame(atlantic_list)
state_coords_df.head(5)

  State   Latitude   Longitude      State Name
0    AK  64.200841 -149.493673          Alaska
1    AL  32.318231  -86.902298         Alabama
2    AR  35.201050  -91.831833        Arkansas
3    AS -14.270972 -170.132217  American Samoa
4    AZ  34.048928 -111.093731         Arizona

In [15]:
atlantic_df = atlantic_df.rename(columns = {'date':'Date','state':'State','positive':'PositiveTests','negative':'NegativeTests','hospitalizedCurrently':'CurrentlyHospitalized','hospitalizedCumulative':'CumulativeHospitalizations','dataQualityGrade':'DataQualityGrade', 'death':'Deaths','deathConfirmed':'DeathsConfirmed','deathProbable':'DeathsProbable'})
atlantic_df

,Date,State,PositiveTests,NegativeTests,CurrentlyHospitalized,CumulativeHospitalizations,DataQualityGrade,Deaths,DeathsConfirmed,DeathsProbable,fips
0,2020-07-31,AK,3677.0,229429.0,40.0,NaN,A,23.0,23.0,NaN,2
1,2020-07-31,AL,87723.0,601744.0,1596.0,10521.0,B,1580.0,1531.0,49.0,1
2,2020-07-31,AR,42511.0,460958.0,507.0,2852.0,A,453.0,NaN,NaN,5
3,2020-07-31,AS,0.0,1037.0,NaN,NaN,C,0.0,NaN,NaN,60
4,2020-07-31,AZ,174010.0,759733.0,2302.0,11260.0,A+,3694.0,2431.0,152.0,4
...,...,...,...,...,...,...,...,...,...,...,...
8300,2020-01-26,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8301,2020-01-25,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8302,2020-01-24,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8303,2020-01-23,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53
8304,2020-01-22,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,53

In [16]:
atlantic_covid_df=pd.merge(atlantic_df,state_coords_df, on=['State'])

In [17]:
atlantic_covid_df

,Date,State,PositiveTests,NegativeTests,CurrentlyHospitalized,CumulativeHospitalizations,DataQualityGrade,Deaths,DeathsConfirmed,DeathsProbable,fips,Latitude,Longitude,State Name
0,2020-07-31,AK,3677.0,229429.0,40.0,NaN,A,23.0,23.0,NaN,2,64.200841,-149.493673,Alaska
1,2020-07-30,AK,3559.0,221498.0,45.0,NaN,A,23.0,23.0,NaN,2,64.200841,-149.493673,Alaska
2,2020-07-29,AK,3442.0,220222.0,45.0,NaN,A,22.0,22.0,NaN,2,64.200841,-149.493673,Alaska
3,2020-07-28,AK,3350.0,210525.0,44.0,NaN,A,22.0,22.0,NaN,2,64.200841,-149.493673,Alaska
4,2020-07-27,AK,3206.0,204162.0,38.0,NaN,A,21.0,21.0,NaN,2,64.200841,-149.493673,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8300,2020-03-11,WY,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming
8301,2020-03-10,WY,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming
8302,2020-03-09,WY,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming
8303,2020-03-08,WY,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming
8304,2020-03-07,WY,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming

In [18]:
atlantic_covid_df=atlantic_covid_df.drop('State', axis=1)

In [19]:
atlantic_covid_df = atlantic_covid_df.rename(columns = {'State Name':'State'})
atlantic_covid_df.head()

,Date,PositiveTests,NegativeTests,CurrentlyHospitalized,CumulativeHospitalizations,DataQualityGrade,Deaths,DeathsConfirmed,DeathsProbable,fips,Latitude,Longitude,State
0,2020-07-31,3677.0,229429.0,40.0,NaN,A,23.0,23.0,NaN,2,64.200841,-149.493673,Alaska
1,2020-07-30,3559.0,221498.0,45.0,NaN,A,23.0,23.0,NaN,2,64.200841,-149.493673,Alaska
2,2020-07-29,3442.0,220222.0,45.0,NaN,A,22.0,22.0,NaN,2,64.200841,-149.493673,Alaska
3,2020-07-28,3350.0,210525.0,44.0,NaN,A,22.0,22.0,NaN,2,64.200841,-149.493673,Alaska
4,2020-07-27,3206.0,204162.0,38.0,NaN,A,21.0,21.0,NaN,2,64.200841,-149.493673,Alaska

In [20]:
#atlantic_covid_df['Date']=atlantic_covid_df['Date'].dt.strftime('%m/%d/%Y')

In [21]:
atlantic_covid_df

,Date,PositiveTests,NegativeTests,CurrentlyHospitalized,CumulativeHospitalizations,DataQualityGrade,Deaths,DeathsConfirmed,DeathsProbable,fips,Latitude,Longitude,State
0,2020-07-31,3677.0,229429.0,40.0,NaN,A,23.0,23.0,NaN,2,64.200841,-149.493673,Alaska
1,2020-07-30,3559.0,221498.0,45.0,NaN,A,23.0,23.0,NaN,2,64.200841,-149.493673,Alaska
2,2020-07-29,3442.0,220222.0,45.0,NaN,A,22.0,22.0,NaN,2,64.200841,-149.493673,Alaska
3,2020-07-28,3350.0,210525.0,44.0,NaN,A,22.0,22.0,NaN,2,64.200841,-149.493673,Alaska
4,2020-07-27,3206.0,204162.0,38.0,NaN,A,21.0,21.0,NaN,2,64.200841,-149.493673,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8300,2020-03-11,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming
8301,2020-03-10,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming
8302,2020-03-09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming
8303,2020-03-08,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming
8304,2020-03-07,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,43.075968,-107.290284,Wyoming

In [22]:
atlantic_covid_latest=atlantic_covid_df.loc[atlantic_covid_df['Date']==atlantic_covid_df['Date'].max(),:]

In [23]:
atlantic_covid_latest

,Date,PositiveTests,NegativeTests,CurrentlyHospitalized,CumulativeHospitalizations,DataQualityGrade,Deaths,DeathsConfirmed,DeathsProbable,fips,Latitude,Longitude,State
0,2020-07-31,3677.0,229429.0,40.0,NaN,A,23.0,23.0,NaN,2,64.200841,-149.493673,Alaska
148,2020-07-31,87723.0,601744.0,1596.0,10521.0,B,1580.0,1531.0,49.0,1,32.318231,-86.902298,Alabama
295,2020-07-31,42511.0,460958.0,507.0,2852.0,A,453.0,NaN,NaN,5,35.201050,-91.831833,Arkansas
443,2020-07-31,0.0,1037.0,NaN,NaN,C,0.0,NaN,NaN,60,-14.270972,-170.132217,American Samoa
581,2020-07-31,174010.0,759733.0,2302.0,11260.0,A+,3694.0,2431.0,152.0,4,34.048928,-111.093731,Arizona
731,2020-07-31,493588.0,7317453.0,7999.0,NaN,B,9005.0,NaN,NaN,6,36.778261,-119.417932,California
881,2020-07-31,46204.0,480142.0,350.0,6413.0,A,1691.0,NaN,NaN,8,39.550051,-105.782067,Colorado
1030,2020-07-31,49810.0,744186.0,69.0,10807.0,B,4432.0,3551.0,881.0,9,41.603221,-73.087749,Connecticut
1177,2020-07-31,12126.0,176615.0,86.0,NaN,A+,585.0,NaN,NaN,11,38.907192,-77.036871,District of Columbia
1326,2020-07-31,14788.0,166259.0,46.0,NaN,A+,585.0,515.0,70.0,10,38.910832,-75.527670,Delaware
1474,2020-07-31,470386.0,3157702.0,8209.0,26905.0,A,6966.0,6966.0,NaN,12,27.664827,-81.515754,Florida
1624,2020-07-31,186352.0,1388335.0,3155.0,18689.0,A,3752.0,NaN,NaN,13,32.165622,-82.900075,Georgia
1774,2020-07-31,356.0,21526.0,2.0,NaN,B,5.0,NaN,NaN,66,13.444304,144.793731,Guam
1912,2020-07-31,1989.0,119379.0,61.0,177.0,C,26.0,NaN,NaN,15,19.896766,-155.582782,Hawaii
2059,2020-07-31,44582.0,429830.0,225.0,NaN,A+,867.0,NaN,NaN,19,41.878003,-93.097702,Iowa
2207,2020-07-31,20246.0,158864.0,236.0,835.0,A,177.0,155.0,22.0,16,44.068202,-114.742041,Idaho
2354,2020-07-31,180118.0,2520731.0,1369.0,NaN,A,7692.0,7495.0,197.0,17,40.267194,-86.134902,Indiana
2504,2020-07-31,66154.0,681229.0,865.0,8727.0,A+,2965.0,2765.0,200.0,18,40.633125,-89.398528,Illinois
2652,2020-07-31,27812.0,264695.0,366.0,1751.0,A+,358.0,NaN,NaN,20,39.011902,-98.484246,Kansas
2800,2020-07-31,30151.0,557672.0,597.0,3314.0,B,735.0,731.0,4.0,21,37.839333,-84.270018,Kentucky
2948,2020-07-31,116280.0,1225963.0,1546.0,NaN,A,3949.0,3835.0,114.0,22,30.984298,-91.962333,Louisiana
3095,2020-07-31,117612.0,1070818.0,347.0,11908.0,A+,8609.0,8389.0,220.0,25,42.407211,-71.382437,Massachusetts
3237,2020-07-31,88346.0,822845.0,590.0,12593.0,A,3493.0,3362.0,131.0,24,39.045755,-76.641271,Maryland
3386,2020-07-31,3912.0,163255.0,12.0,388.0,A+,123.0,122.0,1.0,23,45.253783,-69.445469,Maine
3533,2020-07-31,90574.0,1753873.0,727.0,NaN,A+,6450.0,6199.0,251.0,26,44.314844,-85.602364,Michigan
3686,2020-07-31,54463.0,779891.0,312.0,5155.0,A,1640.0,1600.0,40.0,27,46.729553,-94.685900,Minnesota
3834,2020-07-31,50323.0,636450.0,869.0,NaN,B,1243.0,NaN,NaN,29,37.964253,-91.831833,Missouri
3981,2020-07-31,42.0,11719.0,NaN,4.0,D,2.0,2.0,NaN,69,15.097900,145.673900,Northern Mariana Islands
4119,2020-07-31,58747.0,395758.0,1229.0,4276.0,A+,1663.0,1620.0,43.0,28,32.354668,-89.398528,Mississippi
4266,2020-07-31,3965.0,166005.0,71.0,230.0,C,60.0,NaN,NaN,30,46.879682,-110.362566,Montana
4413,2020-07-31,122148.0,1634954.0,1229.0,NaN,A+,1924.0,1924.0,NaN,37,35.759573,-79.019300,North Carolina
4563,2020-07-31,6469.0,147495.0,47.0,364.0,C,95.0,91.0,4.0,38,47.551493,-101.002012,North Dakota
4710,2020-07-31,25766.0,245190.0,150.0,1610.0,A,328.0,NaN,NaN,31,41.492537,-99.901813,Nebraska
4859,2020-07-31,6544.0,151765.0,21.0,692.0,B,415.0,NaN,NaN,33,43.193852,-71.572395,New Hampshire
5009,2020-07-31,181660.0,1914669.0,695.0,21565.0,A+,15819.0,13944.0,1875.0,34,40.058324,-74.405661,New Jersey
5158,2020-07-31,20388.0,531249.0,156.0,2667.0,B,635.0,NaN,NaN,35,34.519940,-105.870090,New Mexico
5306,2020-07-31,48088.0,421815.0,1159.0,NaN,A+,830.0,NaN,NaN,32,38.802610,-116.419389,Nevada
5455,2020-07-31,415014.0,5474223.0,576.0,89995.0,A,25150.0,NaN,NaN,36,40.712775,-74.005973,New York
5605,2020-07-31,91159.0,1377175.0,1024.0,10790.0,B,3489.0,3222.0,267.0,39,40.417287,-82.907123,Ohio
5754,2020-07-31,36487.0,589091.0,621.0,3161.0,A+,541.0,NaN,NaN,40,35.467560,-97.516428,Oklahoma
5901,2020-07-31,18492.0,385701.0,208.0,1607.0,A+,322.0,NaN,NaN,41,43.804133,-120.554201,Oregon
6051,2020-07-31,112048.0,1104824.0,522.0,NaN,A+,7189.0,NaN,NaN,42,41.203322,-77.194525,Pennsylvania
6199,2020-07-31,16781.0,305972.0,488.0,NaN,B,219.0,113.0,106.0,72,18.220833,-66.590149,Puerto Rico
6337,2020-07-31,19022.0,186994.0,76.0,2211.0,A+,1007.0,NaN,NaN,44,41.580095,-71.477429,Rhode Island
6490,2020-07-31,89016.0,603819.0,1516.0,5117.0,A+,1712.0,1647.0,65.0,45,33.836081,-81.163725,South Carolina
6640,2020-07-31,8764.0,102871.0,31.0,824.0,B,130.0,NaN,NaN,46,43.969515,-99.901813,South Dakota
6787,2020-07-31,105959.0,1407446.0,1494.0,4661.0,A,1060.0,1023.0,37.0,47,35.517491,-86.580447,Tennessee
6936,2020-07-31,420946.0,3248806.0,9336.0,NaN,A,6569.0,NaN,NaN,48,31.968599,-99.901813,Texas
7086,2020-07-31,40196.0,488714.0,258.0,2377.0,A+,304.0,NaN,NaN,49,39.320980,-111.093731,Utah
7233,2020-07-31,89888.0,1020859.0,1334.0,13271.0,A+,2174.0,2067.0,107.0,51,37.431573,-78.656894,Virginia
7382,2020-07-31,406.0,8775.0,NaN,NaN,C,8.0,8.0,NaN,78,18.335765,-64.896335,Virgin Islands
7520,2020-07-31,1414.0,92954.0,16.0,NaN,B,57.0,57.0,NaN,50,44.558803,-72.577841,Vermont
7668,2020-07-31,55803.0,917851.0,415.0,5568.0,B,1564.0,1564.0,NaN,53,47.751074,-120.740139,Washington
7860,2020-07-31,56934.0,882149.0,255.0,4637.0,A+,941.0,934.0,7.0,55,43.784440,-88.787868,Wisconsin
8010,2020-07-31,6642.0,277346.0,108.0,NaN,B,116.0,NaN,NaN,54,38.597626,-80.454903,West Virginia
8158,2020-07-31,2726.0,50573.0,18.0,166.0,B,26.0,NaN,NaN,56,43.075968,-107.290284,Wyoming

In [24]:
json_atlantic_latest_json = atlantic_covid_latest.to_json(orient = 'records')
parsed = json.loads(json_atlantic_latest_json)

In [25]:
with open('atlantic_covid_latest.json', 'w') as f:
    json.dump(parsed, f, indent=4)

In [26]:
from flask_pymongo import PyMongo
from config import mongoURL 

from pymongo import MongoClient
import json
# client = MongoClient('localhost', 27017)
client = MongoClient(mongoURL)

In [27]:
Atlantic_db = client['Atlantic_db']
collection_Atlantic_lt = Atlantic_db['Atlantic_covid_latest']
# # Inserting state data
with open('atlantic_covid_latest.json') as f:
    Atlantic_data1 = json.load(f)
collection_Atlantic_lt.insert_many(Atlantic_data1)

In [28]:
#Daily Data

In [29]:
json_atlantic = atlantic_covid_df.to_json(orient = 'records')
parsed = json.loads(json_atlantic)

In [30]:
with open('atlantic_covid_daily.json', 'w') as f:
    json.dump(parsed, f, indent=4)

In [31]:
Atlantic_db = client['Atlantic_db']
collection_Atlantic = Atlantic_db['Atlantic_covid_daily']
# # Inserting state data
with open('atlantic_covid_daily.json') as f:
    Atlantic_data2 = json.load(f)
collection_Atlantic.insert_many(Atlantic_data2)